<!-- <div class="dialog-container">
  <div class="team-info">
    <h1 class="team-name">{{ team.Name }}</h1>
  </div>

  <div class="section projects-section">
    <div class="section-title">Projects</div>
    <div class="project-list">
      <div class="project-card" *ngFor="let Projet of Projets">
        <h2 class="project-name">{{ Projet.Name }}</h2>
        <p class="project-description">{{ Projet.Description }}</p>
        <div class="project-details">
          <span class="project-date"><strong>Start Date:</strong> {{ Projet.StartDate__c }}</span>
          <span class="project-date"><strong>End Date:</strong> {{ Projet.EndDate__c }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="section team-members-section">
    <div class="section-title">Team Members</div>
    <div class="user-list">
      <div class="user-icon" *ngFor="let User of Users">
        <img [src]="User.SmallPhotoUrl" alt="User Photo" />
        <div class="user-name">{{ User.Name }}</div>
        <mat-icon class="delete-icon" (click)="deletuserfromteam(User.Id,team.Id)" >delete</mat-icon>
      </div>
    </div>
  </div>
  <button (click)="deleteTeam(team.Id)" >delete this team</button>
</div> -->
<div class="teams " >
  <div class="card flexdiv" >
    <div class="d-flex align-items-center ">   
                 <div class="Name">
                          <h1 >{{ team.Name }}</h1>
                          
                 </div>
                 <div class="dropdown">
                  <span class="dropdown-toggle py-2" id="dropdownMenuButton04" data-toggle="dropdown" >
                  </span>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton04">
                      <button class="dropdown-item" type="button" (click)="openPopup(team)"><i class="ri-edit-2-line mr-2"></i>Add member</button>
                              <button class="dropdown-item" type="button"  (click)="deleteTeam(team.Id)"><i class="ri-delete-bin-5-line mr-2"></i>Delete Team</button> 
                  </div>
              </div>
              </div>
                 <div class="members" *ngIf="team.UserTeams__r && team.UserTeams__r.records">
                     <div class=" member" *ngFor="let userTeam of team.UserTeams__r.records" >
                     
    <a href="#" class="iq-media" [title]="userTeam.User__r.Name">
                          <img class="img-fluid avatar-70 rounded-circle"[src]="userTeam.User__r.FullPhotoUrl"  alt="">
                      </a>  
                      
                      <p>{{userTeam.User__r.Name}}</p>
                      <p class="description" style="color:grey">{{userTeam.Description__c}}</p>
                      <p>{{userTeam.Role__c}}</p>
                      <div class=" delete">
                        <mat-icon class="delete-icon" (click)="deletuserfromteam(userTeam.User__r.Id,team.Id)" >delete</mat-icon>
                   </div> 
                 </div>
                 </div>
              
  </div>
</div>

