<!-- <div class="search-bar">
  <i class="fas fa-search search-icon"></i>
  <input class="search-input" type="text" placeholder="Search Project" (input)="searchProjects($event)">
  
</div>

<h2 class="projects-heading">Projects</h2>
<div class="title-wrapper">
<div class="button-group">
  <button class="btn" [ngClass]="{'active': displayMyProjects}" (click)="showMyProjects()">My Projects</button>
  <button class="btn" [ngClass]="{'active': !displayMyProjects}" (click)="showOtherProjects()">Other Projects</button>
</div>
<div class="create-project-wrapper">
  <button class="create-project-button" [disabled]="isSubmitting" (click)="openFieldFormDialog()">
    <i class="fas fas-plus" style="font-size: 14px; font-weight: normal;"></i> Create Project
  </button>
</div>

</div>



<div class="center-line"></div>

<div class="card-list" *ngIf="displayMyProjects" >
  
  <div class="card" *ngFor="let account of filteredAccounts" (click)="GoToDetail(account.Id)">

    <div class="color-box" [style.backgroundColor]="account.theme__r.Name">
      
      <span class="fa fa-ellipsis-h cion" style="font-size:15px" (click)="openPopupT(account)"></span>
      
      
      </div>
    <div class="card-content">
      <div class="circle-image">
        <img src="assets/images/kanban.jpg" alt="Circular Image">
      </div>

      <h3 class="card-title">Project : {{ account.Name }}</h3>
    </div>
  </div>
</div>

<div class="card-list" *ngIf="!displayMyProjects">
  
  <div class="card" *ngFor="let noaccount of filterednoAccounts" >

    <div class="color-box" [style.backgroundColor]="noaccount.theme__r.Name">
      
      <span class="fa fa-ellipsis-h cion" style="font-size:15px" (click)="openPopupT(noaccount)"></span>
      
      
      </div>
    <div class="card-content">
      <div class="circle-image">
        <img src="assets/images/kanban.jpg" alt="Circular Image">
      </div>

      <h3 class="card-title">Project : {{ noaccount.Name }}</h3>
      
      

    </div>
  </div>
</div>
-->


 
<div class="row">
  <div class="col-lg-12">
             <div class="d-flex flex-wrap align-items-end  breadcrumb-content test">
                 <div class="title-wrapper">
    
      <div class="iq-search-bar device-search">
        <form action="#" class="searchbox">
            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
            <input type="text" class="text search-input" placeholder="Search project..." (input)="searchProjects($event)">
        </form>
      </div>

                      <div class="pl-3  btn-new">
                        <button class="create-project-button" [disabled]="isSubmitting" (click)="openFieldFormDialog()">New Project</button>
                      </div>
                  </div>
          </div>
      </div>
  </div>
 
  <div class="flexcontainer">
  <div class="col-lg-4 col-md-6" *ngFor="let account of LastList" >
    <div class="card card-block card-stretch card-height">

    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-4" >
            <div id="circle-progress-01" class="circle-progress-01 circle-progress circle-progress-primary" data-min-value="0" data-max-value="100" data-value="40" data-type="percent" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="90">
              <svg version="1.1" width="100" height="100" viewBox="0 0 100 100" class="circle-progress" >
                <circle class="circle-progress-circle" cx="50" cy="50" r="47" fill="none"  [style.stroke]="getColor(account.Priority)" stroke-width="8"></circle><text class="circle-progress-text" x="50" y="50" font="16px Arial, sans-serif" text-anchor="middle" [style.fill]="getColor(account.Priority)" dy="0.4em">{{ account.Progress ? account.Progress + ' %' : '0 %' }} </text></svg></div>
      <div>
        <span class="fa fa-ellipsis-h cion" style="font-size:25px ;font-weight:bold ;   cursor: pointer;" (click)="openPopupT(account)" >...</span>
      </div>
            </div>
            <div (click)="GoToDetail(account.Id)">
        <h2 class="name">{{ account.Name }}</h2>
        <p class="mb-3">{{ account.Description}}</p>
        <div class="d-flex align-items-center justify-content-between pt-3 border-top">
            <div class="iq-media-group" >
              <a href="#" class="iq-media" *ngFor="let users of account.Tasks" [title]="users.User__r.Name">
                  <img class="img-fluid avatar-40 rounded-circle" src="{{users.User__r.SmallPhotoUrl}}" alt="">
              </a>
        
              
            </div>


            
            <p id="priopity" [style.color]="getColor(account.Priority)" style="font-size:20px">{{account.Priority}}</p>
        </div>
    </div>
  </div></div>
  </div>

  </div>