
.flexcontainer{
  display: flex;
  flex-wrap: wrap;
}

.test{
  justify-content: flex-end;
}
.team-info {
  
  
  padding: 16px;
  margin-bottom: 24px;
}
.cion{
  float: right;
  margin: 15px;
  

}
.cio{
  color: #0a0909;
  margin: 15px;
  

}
  
.team-name {
  margin: 0;
  font-size: 17px;
  
}

.search-input {
  border-radius: 9px;
  border: 1px solid #c3bbbb;
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: 200px;
  align-items: end;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.search:hover {
  opacity: 1;
}

.color-box {
  width: 300px;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 10px;
}
.projects-heading {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
  
}
.create-project-button {
  background-color: #353444;
  color: #fff;
  border: none;
  padding: 9px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.create-project-button:hover {
  background-color: #0056b3;
}
.card-list .color-box {
  display: inline-block;
}
.center-line {
 
 
  padding-bottom: 10px;
  margin-left: 20px;
  margin-top: 8px;
  border-top: 1px solid rgb(150, 141, 141);
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-input {
  order: 1;
  margin-right: 5px;
}

.search-icon {
  order: 2;
}

.title-wrapper {
  display: flex;
  text-align: center;
  padding: 5px;
  margin-bottom: 24px;
  align-items:flex-end;
  margin-bottom: 20px;
  justify-content: flex-end;
}
.card2 {
  position: relative;
  background-color: white;
  margin: 10px;
  margin-bottom: 40px;
  border-radius: 16px;
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;

}
.search{
  position: relative;
  width: 99%;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 16px;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.button-group {
  
  border-radius: 10px 10px 0px 0px;
  justify-content: right;
 
  margin-left: 20px;
}

.button-group .btn {
  
  flex: 1;
  border-radius: 0;
  margin: 0;
}

.button-group .btn.active {
  background-color: rgb(158, 152, 152); /* Change to the desired active color */
  color: #fff;
}

.team-info, .team-name {
  text-align: center;
}

.circle-image {
  position: absolute;
  top: -25px; /* Adjust the value based on your image size and positioning */
  left: 50%;
  transform: translateX(-50%);
  width: 55px; /* Adjust the width and height according to your image size */
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #787070;
}

.circle-image img {
  display: block;
  width: 100%;
  height: auto;
}

.card-content {
  padding-top: 50px; /* Adjust the padding to create space for the circular image */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #F7A95A;
}


.card-content {
  padding: 10px;
}
.card-title {
  
  
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.project-details {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}
.gry{
  color: #777;

}
.card-description {
  font-size: 15px;
  margin-bottom: 10px;
}
.btn{
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #d9dee3;
  cursor: pointer;
  

}
.form-actions{
  margin-top: 10px;
  text-align: center;
}


.card-description {
  margin-bottom: 10px;
}

.card-link {
  color: blue;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}
