<div class="confirmation-popup">
    <div class="modal-header">
      
      <h5 class="modal-title fw-bold" style="font-weight: bold;font-size: 20px;" id="deleteprojectLabel">Cannot Delete List</h5>
    </div>
    <h2 class="confirmation-title">This list cannot be deleted because it is not empty.</h2>
    
    <mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="false" class="cancel-button">Close</button>
    </mat-dialog-actions>
  </div>
  