



  <div class="modal-header d-block text-center pb-3 border-bttom">
      <h3 class="modal-title" id="exampleModalCenterTitle01"  style="font-size: 20px;font-weight: bold;">New Project</h3>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
      <div class="row2">
          <div class="col-lg-12">
              <div class="form-group mb-3">
                  <label for="exampleInputText01" class="h5">Project Name*</label>
                  <input matInput placeholder="Project Name" type="text" class="form-control" id="exampleInputText01" required formControlName="Name" >
              </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mb-3">
                <label for="exampleInputText01" class="h5">Description</label>
                <textarea matInput formControlName="Description__c" class="form-control" id="exampleInputText01" rows="2"></textarea>
                
                
            </div>
        </div>
        <div class="row" style="margin-left: 2px;">
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <label for="exampleInputText004" class="h5">Start Date</label>
                <input type="date" formControlName="StartDate__c"  class="form-control" id="exampleInputText004" value="">
                
                </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group mb-3">
            <label for="exampleInputText004" class="h5">End Date*</label>
            <input type="date" class="form-control" formControlName="EndDate__c" id="exampleInputText004" value="">
        </div>                   
        </div>

        </div>
          
          
          <div class="col-lg-12">
            <div class="form-group mb-3">
                <label for="exampleInputText04" class="h5">Priority*</label>
                <div class="dropdown bootstrap-select form-control">
                  <mat-select matInput formControlName="Priority__c" name="type" placeholder="Priority" class="selectpicker form-control" data-style="py-0">
                    
                    <mat-option *ngFor="let priority of PriorityArray" [value]="priority.name">
                      <span class="arrow-down" [style.color]="priority.color" style="font-weight: bold;font-size: 20px;" *ngIf="priority.name === 'Low' || priority.name === 'Lowest' || priority.name === 'Medium'">&#8595;</span>
                      <span class="arrow-down" [style.color]="priority.color"  style="font-weight: bold;font-size: 20px;"  *ngIf="priority.name === 'High' || priority.name === 'Highest' ">&#8593;</span>
                      {{ priority.name }}
                      
                    </mat-option></mat-select>
                
                  <div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-7" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                
            </div>                        
        </div>
          <div class="col-lg-12">
              <div class="form-group mb-3">
                  <label for="exampleInputText07" class="h5">Assign Team*</label>
                  <select id="Team__c" formControlName="Team__c" placeholder="Select Team" class="form-control">
                    <option *ngFor="let team of Teams" [value]="team.value">{{ team.label }}</option>
                  </select>
                 
              </div>
          </div>
          <div class="col-lg-12">
              <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                  
                  <button type="submit" [disabled]="myForm.invalid" data-dismiss="modal" class="btn btn-primary">Submit</button>   
                 <button (click)="closeDialog()" class="btn btn-secondary" style=" margin-left: 20px;" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
  </div>
</form>





