.team-info {
    text-align: left;
  }
  .team-info h1 {
    color: black;
    font-family: "Roboto", sans-serif;
  }
  .team-name {
    margin: 0px;
    margin-left: 10px;
  }

  .card-body {
    padding: 10px;
  }
  .navbar-list .caption-content {
    line-height: normal;
}
.card1 {
  text-align: center;
}

.round-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 4px;
  border-radius: 50%;
  background: rgb(202, 3, 3);
  color: white;
}
