<div class="row"  >
    <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
              <div class="team-info">
                <h1 class="team-name"> {{ currentRoute }}</h1>
              </div>
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                   
                    <div class="list-grid-toggle d-flex align-items-center mr-3">
                        
                        <div class="nav-item nav-icon nav-item-icon dropdown show">
                            <a [ngClass]="{ 'notification-active': isNotificationActive }" (click)="onTagSelected()" href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                </svg>
                                <span class="bg-primary "></span>
                                <span class="badge" *ngIf="notifications.length > 0">{{ notifications.length }}</span>
                            </a>
                            <div *ngIf="isTagSelected" class="iq-sub-dropdown dropdown-menu show" style="width: 300px;margin-top: 25px;margin-right:200px" aria-labelledby="dropdownMenuButton" >
                                <div class="card shadow-none m-0">
                                  <div class="card-body p-0">
                                    <div class="cust-title p-3">
                                      <div class="d-flex align-items-center justify-content-between">
                                        <h5 class="mb-0" style="font-weight: bold; font-size:medium">Notifications</h5>
                                       
                                      </div>
                                    </div>
                              
                                    <div class="px-3 pt-0 pb-0 sub-card" >
                                      <!-- Use ngFor with slice pipe to display only the first 5 notifications if showAllNotifications is false -->
                                      <a href="#" class="iq-sub-card" *ngFor="let notification of (showAllNotifications ? notifications : notifications.slice(0, 5))">
                                        <div class="media align-items-center cust-card py-2 border-bottom" >
                                          <div class="">
                                            <img class="avatar-50 rounded-small" style="padding: 10px 10px;" src="../assets/images/task.png" alt="01">
                                          </div>
                                          <div class="media-body ml-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                              <small class="text-dark" style="position: absolute; right:0; margin-right:20px; margin-bottom:20px; margin-top:15px"><b>{{ formatTime(notification.timestamp) }}</b></small>
                                            </div>
                                            <small class="mb-0" style="color: black;margin-top:20px">New Task Created <br> Name :  <strong>"{{ notification.message }}"</strong> </small>
                                          </div>
                                        </div>
                                      </a>
                                    </div>
                              
                                    <!-- Show "View All" button only when there are more than 5 notifications -->
                                    <button class="right-ic btn btn-primary btn-block position-relative p-2" (click)="toggleShowAllNotifications()">
                                      {{ showAllNotifications ? 'Show Less' : 'View All' }}
                                    </button>
                              
                                    <!-- Use ngIf to show the rest of notifications when showAllNotifications is true -->
                                    <div *ngIf="showAllNotifications">
                                      <a href="#" class="iq-sub-card" *ngFor="let notification of notifications">
                                        <div class="media align-items-center cust-card py-3 border-bottom">
                                          <div class="">
                                            <img class="avatar-50 rounded-small" src="../assets/images/task.png" alt="01">
                                          </div>
                                          <div class="media-body ml-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                              <small class="text-dark"><b>{{ formatTime(notification.timestamp) }}</b></small>
                                            </div>
                                            <small class="mb-0">{{ notification.message }}</small>
                                          </div>
                                        </div>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                        </div>
                    </div>

                    <div class="pl-3 border-left btn-new">
                      
                        <a href="#" class="search-toggle dropdown-toggle  d-flex align-items-center" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="{{picture}}" alt="John" class="round-image">
                            <div class="caption ml-3" >
                                <h5 style="margin-right: 5px;margin-top:12px;font-weight:bold;font-size:16px"> <a routerLink="/Profil">{{Name}} {{given_name}}</a> <i class="las la-angle-down ml-2"></i></h5>
                            </div>
                        </a>                            
                        <ul class="dropdown-menu dropdown-menu-right border-none" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-item d-flex svg-icon">
                                <svg class="svg-icon mr-0 text-primary" id="h-01-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <a routerLink="/Profil" href="../app/user-profile.html">My Profile</a>
                            </li>
                            <li class="dropdown-item d-flex svg-icon">
                                <svg class="svg-icon mr-0 text-primary" id="h-03-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                                <a href="../app/user-account-setting.html">Account Settings</a>
                            </li>
                            <li class="dropdown-item d-flex svg-icon">
                                <svg class="svg-icon mr-0 text-primary" id="h-04-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path>
                                </svg>
                                <a href="../app/user-privacy-setting.html">Privacy Settings</a>
                            </li>
                            
                        </ul>
                    
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>