


    
<div class="confirmation-popup">
  <div class="modal-header">
    <h5 class="modal-title  fw-bold" style="font-weight: bold;font-size: 20px;" id="deleteprojectLabel"> Create New List</h5>
    
</div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <input style="margin: 10px;" matInput placeholder="Name" formControlName="Name" class="form-control" required>
    
  
    
    <div class="col-lg-12" style="margin-top: 15px;">
      <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
          
        <button mat-button [mat-dialog-close]="false" class="cancel-button" style="border-radius: 8px;">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid" style="border-radius: 8px;">Create </button>
      </div>
  </div>
</form>
    
  </div>
  