

 
<div class="modal-content">
  <div class="modal-header d-block text-center pb-3 border-bttom">
      <h3 class="modal-title" style="font-size: 20px;font-weight: bold;" id="exampleModalCenterTitle">Create Team</h3>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
      <div class="row2">
          <div class="col-lg-12">
              <div class="form-group mb-3">
                  <label for="exampleInputText02" class="h5">Team Name*</label>
                  <input matInput placeholder="Name" type="text" class="form-control" id="exampleInputText02" required formControlName="Name" >
               
                  
              </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mb-3">
              <form [formGroup]="myForm1" >
                <label for="exampleInputText2" class="h5">Assigned to*</label>
                <div class="dropdown bootstrap-select form-control">
                  <mat-select formControlName="User__c" multiple name="type" class="selectpicker form-control" data-style="py-0">
                    <mat-option *ngFor="let ur of Urs" [value]="ur.id" (click)="showSelectedOptions(ur)">{{ ur.name }}</mat-option>
                  </mat-select>
                  <div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-7" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                </form>
                </div>
        </div>
         
          
          <div class="col-lg-12">
              <div class="form-group mb-3">
                  <label for="exampleInputText040" class="h5">Description</label>
                  <textarea matInput  formControlName="Description__c" class="form-control" id="exampleInputText040" cols="30" rows="5"></textarea>
                  
                  
              </div>
          </div>
          
          
          
          <div class="col-lg-12" style="margin-top: 15px;">
            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                
                <button type="submit" [disabled]="myForm.invalid"  data-dismiss="modal" class="btn btn-primary">Submit</button>   
                 <button  class="btn btn-secondary" style=" margin-left: 20px;" data-dismiss="modal" (click)="closeDialog()">Cancel</button>
            </div>
        </div>
      </div>
  </div>
</form>
</div>





