.fori{
  width: 500px;
}
.form-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.delete-button {
  color: #fff;
  background-color: #F7A95A;
  width: 100px;
}
.dialog-container {
  margin: 20px;
 
  
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.cancel-button {
  
  background-color: #ddd;
  margin-left: 10px;
  width: 100px;
}