
  
  /* Target the checkbox with class "checkbox" */
  input.checkbox {
    /* Hide the default checkbox */
    display: none;
  }
  
  /* Target the label with class "toggle" and style it as a switch toggle */
  label.toggle {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
  }
  
  /* Add styles for the switch indicator (the circle) */
  label.toggle::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  /* Add styles for the checked state of the switch */
  input.checkbox:checked + label.toggle {
    background-color: #2196F3; /* Example background color when checked */
  }
  
  input.checkbox:checked + label.toggle::after {
    left: 32px;
  }
  
  /* Target the checkbox with class "checkbox2" */
  input.checkbox2 {
    /* Hide the default checkbox */
    display: none;
  }
  
  /* Target the label with class "toggle2" and style it as a switch toggle */
  label.toggle2 {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
  }
  
  /* Add styles for the switch indicator (the circle) for the second checkbox */
  label.toggle2::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  /* Add styles for the checked state of the second switch */
  input.checkbox2:checked + label.toggle2 {
    background-color: #2196F3; /* Example background color when checked */
  }
  
  input.checkbox2:checked + label.toggle2::after {
    left: 32px;
  }
  

   /* Add styles for the checked state of the switch */
   input.checkbox2:checked + label.toggle2 {
    background-color: #2196F3; /* Example background color when checked */
  }
  
  input.checkbox2:checked + label.toggle2::after {
    left: 32px;
  }
  
  /* Styles for the "Done" checkbox and label */
  input[type="checkbox"][name="done"] {
    /* Hide the default checkbox */
    display: none;
  }
  
  /* Style the label for "Done" checkbox */
  label[for="done"] {
    /* Add your desired styles here */
    margin-left: 5px; /* Example margin left */
    cursor: pointer;
  }
  
  /* Add custom styles for the "Done" checkbox when checked */
  input[type="checkbox"][name="done"]:checked + label[for="done"] {
    font-weight: bold; /* Example font weight */
    color: #2196F3; /* Example text color when checked */
  }
  
  
  
       
/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
       
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 49px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: rgb(6, 134, 106);
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}




