<style>


/* Center the toggle bar */
.toggle-bar {
  display: flex;
  margin-left: 350px;
  align-items: center;
  height: 40px;
  font-family: Arial, sans-serif;
}

/* Hide the default checkbox input */
.checkbox {
  display: none;
}

/* Style the toggle switch label */
.toggle {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Add a knob to the toggle switch */
.toggle-label::before {
  content: '';
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.2s ease;
}

/* Style the knob when the toggle switch is checked */
.toggle-input:checked + .toggle-label {
  background-color: #55c93f; /* Change this color to represent the "on" state */
}

/* Move the knob to the right when the toggle switch is checked */
.toggle-input:checked + .toggle-label::before {
  transform: translateX(30px);
}

/* Optional: Add a subtle shadow to the knob */
.toggle-label::before {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Style the label text */
.label-text {
  margin-left: 10px;
  
  font-weight: bold;
  
  font-size: medium; /* Add some spacing between the toggle and the label text */
}

</style>
<!--=========================================-->
<div class="modal-content">
  <div class="modal-header d-block text-center pb-3 border-bttom">
    <h3 class="modal-title" style="font-size: 20px;font-weight: bold;" id="exampleModalCenterTitle">Edit User Story</h3>
</div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="modal-body">
      <div class="row2">
        <div class="row" style="display: flex; flex-direction:row;align-items: center;">
          <div class="toggle-bar">
            <span class="label-text" style="color: black;">Done</span>
            <input type="checkbox" id="switch" class="checkbox" formControlName="done__c">
            <label for="switch" class="toggle"></label>
            
          </div>
        </div>
        

            
          <div class="col-lg-12">
              <div class="form-group mb-3">
                  <label for="exampleInputText02" class="h5">Task Name</label>
                  <input matInput type="text" formControlName="Name" class="form-control" id="exampleInputText02"  [value]="Urs.Name" >
               
                  
              </div>
          </div>

          <div  class="row" style="margin-left: 3px;margin-right: 5px;">
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <label for="exampleInputText2" class="h5">Priority*</label>
              <div class="dropdown bootstrap-select form-control">
                <mat-select name="type" class="selectpicker form-control" placeholder="Priority"  data-style="py-0" formControlName="priority__c" >
                  <mat-option *ngFor="let i of PriorityArray" [value]="i.name">
                    <span class="arrow-down" [style.color]="i.color" style="font-weight: bold;font-size: 20px;" *ngIf="i.name === 'Low' || i.name === 'Lowest' || i.name === 'Medium'">&#8595;</span>
                    <span class="arrow-down" [style.color]="i.color"  style="font-weight: bold;font-size: 20px;"  *ngIf="i.name === 'High' || i.name === 'Highest' ">&#8593;</span>
                    {{ i.name }}
                    
                  </mat-option>
                  
                </mat-select>
                </div>
      </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group mb-3">
                  <label for="exampleInputText2" class="h5">Type*</label>
                  <div class="dropdown bootstrap-select form-control">
                    <mat-select name="type" class="selectpicker form-control" placeholder="Type"  data-style="py-0" formControlName="issueType__c" >
                      <mat-option  *ngFor="let typt of issueTypesArrayWithColor" [value]="typt.name">
                        {{ typt.name }}
                      </mat-option>
                    </mat-select>
                    </div>
          </div>
          </div>
        </div>
         
        <div class="col-lg-12">
          <div class="form-group mb-3">
              <label for="exampleInputText040" class="h5">Description</label>
              <textarea matInput formControlName="text__c" class="form-control" id="exampleInputText040" rows="2" [value]="Urs.text__c"></textarea>
              
              
          </div>
     
          </div>
          <div class="col-lg-12">
            <div class="form-group mb-3">
              
              <label for="exampleInputText02" class="h5">Users</label>
                <mat-chip-grid  #chipGrid aria-label="Fruit selection">
                  <mat-chip-row *ngFor="let fruit of userList" (removed)="remove(fruit)">
                    {{fruit.Name}}
                    <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input class="form-control" id="exampleInputText040" placeholder="New Fruit..." #fruitInput [formControl]="userCtrl"
                  [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)"/>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let fruit of user" [value]="fruit">
                    {{fruit.User__r.Name}}
                  </mat-option>
                </mat-autocomplete>
              
            </div>

          </div>
          <div class="col-lg-12" style="margin-top: 15px;">
              <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                  
                  <button type="submit" [disabled]="formGroup.invalid" data-dismiss="modal" class="btn btn-primary">Edit</button>   
                   <button [mat-dialog-close]="false" class="btn btn-secondary" style=" margin-left: 20px;" data-dismiss="modal">Cancel</button>
              </div>
          </div>
          
          
          
      </div>
  </div>
</form>
</div>