<!-- 
  <div class="container-fluid">
    <div class="title-wrapper">
      
      <div class="create-project-wrapper">
        <button class="create-project-button" [disabled]="isSubmitting" (click)="openFieldFormDialog()"> New Team</button>
      </div>
    </div>



    
     
             <div class="teams " *ngFor="let Team of filteredTeams" >
                 <div class="card flexdiv" >
                                     
                                <div class="Name">
                                         <h1 >{{ Team.Name }}</h1>
                                </div>

                                <div class="members" *ngIf="Team.UserTeams__r && Team.UserTeams__r.records">
                                    <div class=" member" *ngFor="let userTeam of Team.UserTeams__r.records" >
                                     <a href="#" class="iq-media" [title]="userTeam.User__r.Name">
                                         <img class="img-fluid avatar-70 rounded-circle"[src]="userTeam.User__r.FullPhotoUrl"  alt="">
                                     </a>
                                     <p>{{userTeam.User__r.Name}}</p>
                                     <p class="description" style="color:grey">{{userTeam.Description__c}}</p>
                                     <p>{{userTeam.Role__c}}</p>

                                </div>
                                </div>
                             
                 </div>
         </div>
     
 </div> -->
 <div class="container-fluid">
  <div class="title-wrapper">
    
    <div class="create-project-wrapper">
      <button class="create-project-button" [disabled]="isSubmitting" (click)="openFieldFormDialog()"> New Team</button>
    </div>
  </div>
   <div id="list" class="item-content animate_animated animate_fadeIn active" data-toggle-extra="tab-content">
       <div class="row">
           <div class="col-lg-4" *ngFor="let Team of filteredTeams" (click)="openPopup(Team)">
               <div class="card">
                   <div class="card-body">
                       <div class="mycolumn ">
                           <div class="col-sm-8">
                               <div class="d-flex align-items-center" style="margin-bottom: 20px; margin-left : 10px ;">
                                   
                                <div class="ml-3">
                                       <h1 class="mb-1" >{{ Team.Name }}</h1>
                                   </div>
                               </div>
                           </div>
                               <div class="iq-media-group members">
                                   <a href="#" class="iq-media" *ngFor="let userTeam of Team.UserTeams__r?.records" [title]="userTeam.User__r.Name">
                                       <img class="img-fluid avatar-40 rounded-circle"[src]="userTeam.User__r.SmallPhotoUrl"  alt="">
                                   </a>
                               </div>
                              
                           
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- Page end  -->
</div>