.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.mycolumn{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.title-wrapper {
  display: flex;
  text-align: center;
  padding: 5px;
  margin-bottom: 24px;
  align-items:flex-end;
  margin-bottom: 10px;
  justify-content: flex-end;

}
.create-project-button {
  background-color: #353444;
  color: #fff;
  border: none;
  padding: 9px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.row{
  flex-wrap: wrap;
}
.card-body{
  box-shadow:1px 1px 5px #353444;
  border-radius: 15px;

}