
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="content">
        <div class="fixed">
            <app-navbar></app-navbar>
        </div>
        <div class="fixed2">
            <router-outlet ></router-outlet>
        </div>
        
    </div>  
  