.sidebar {
    width: 250px; /* Ajustez la largeur selon vos besoins */
    background-color: #f2f2f2; /* Couleur de fond de la sidebar */
    float: left;
  }
  .fixed{
    position: fixed;
    background-color: #F8F7F7;
    overflow: hidden;
  z-index: 9999;
    width: 1400px;
    
  }
  .fixed2{
    
  margin-top: 100px;
    
  }
  .content {
    display: block;
    margin-left: 250px; 
    padding: 20px;
    
  }
  