<div class="iq-sidebar  sidebar-default  " style="background-color: #353444;">
  <div class="iq-sidebar-logo d-flex align-items-center" style="margin-bottom:50px">
      <a class="header-logo">
          <img src="../assets/images/image-removebg-preview.png" alt="logo" style="width: 200px;  height: 100px;"> 
      </a>
      <div class="iq-menu-bt-sidebar  ml-0"> 
          <i class="las la-bars wrapper-menu"></i>
      </div>
  </div>
  <div class="data-scrollbar" data-scroll="1" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;"><div class="scroll-content">
      <nav class="iq-sidebar-menu">
          <ul id="iq-sidebar-toggle" class="iq-menu">
              <li class="">
                  <a routerLink="/dashboard" class="svg-icon">                        
                      <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                          <polyline points="9 22 9 12 15 12 15 22"></polyline>
                      </svg>
                      <span class="ml-4">Dashboards</span>
                  </a>
              </li>
              <li class="">
                  <a routerLink="/projet" class="svg-icon">                        
                      <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <polyline points="6 9 6 2 18 2 18 9"></polyline>
                          <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
                          <rect x="6" y="14" width="12" height="8"></rect>
                      </svg>
                      <span class="ml-4">Projects</span>
                  </a>
              </li>
              <li class="">
                  <a  routerLink="/team" class="svg-icon">                        
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                      <span class="ml-4">Teams</span>
                  </a>
              </li>
              <li class="">
                <a routerLink="/Profil" class="collapsed" data-toggle="collapse" aria-expanded="false">
                  <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle>
                </svg>
                  <span class="ml-4">User Details</span>
              </a>
            </li>
            <li class="">
              <a routerLink="/calendar" class="svg-icon">                        
                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                <span class="ml-4">Calender</span>
            </a>
            </li>
             
          </ul>
      </nav>
     
      <div class="pt-5 pb-2"></div>
  </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 260px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: block;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 96.0665px; transform: translate3d(0px, 0px, 0px);"></div></div></div>
</div>