<!--=================Navbar==============================-->
<div class="col-lg-12" style="position: absolute;
right: 0;top:0; margin-top:110px;position:fixed;z-index: 9999;overflow: hidden; ">
  
      
          
              
              <div class="d-flex flex-wrap align-items-center justify-content-between"  style="margin-right: 220px; ">
              
                  <div class="pl-3 btn-new border-left" >
                    
                </div>  
             
                
                <div class="list-grid-toggle d-flex align-items-center mr-3">
                    <div class="col-lg-12" >
                        <div class="form-group mb-3" style="margin-right: 820px;">
                            
                            <div class="dropdown bootstrap-select form-control">
                              <mat-select matInput formControlName="Priority__c" name="type" placeholder="Sprint" class="selectpicker form-control" data-style="py-0">
                                
                                <mat-option *ngFor="let spring of springs" [value]='spring' (click)="onOptionSelected(spring)">
                                    {{spring}}
                                  
                                </mat-option></mat-select>
                            
                              <div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-7" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                            
                        </div>                        
                    </div>
                    
                    
                    <div data-toggle-extra="tab" data-target-extra="#grid" class="active" >
                        <div class="grid-icon mr-3">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect>
                            </svg>
                        </div>
                    </div>
                    <div data-toggle-extra="tab" data-target-extra="#list" class="">
                        <div class="grid-icon">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="pl-3 btn-new border-left">
                        <a href="#" class="btn btn-primary" data-target="#new-project-modal" data-toggle="modal" (click)="addList()" style="width: 100px;">Add List</a>
                      </div>
                </div>
                  
              </div>
          
    
  
</div>
<!--=================Navbar===============-->
<!--===============grid==========================-->
<div id="grid" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content" cdkDropListGroup  >
  <div class="row" style="margin-top: 200px;top: 800px; left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll; ">
      <div class="col-lg-4"  *ngFor="let list of LastList" cdkDropList 
      [attr.id]="'list-' + list.Name"
      
      [cdkDropListData]="list.Tasks"
      [cdkDropListConnectedTo]="connectedListIds"
      (cdkDropListDropped)="drop($event, list.Id)"
      
      >
          <div class="card-transparent mb-0 desk-info" >
              <div class="card-body p-0">                           
                  <div class="row2">
                      <div class="col-lg-12">
                          <div class="card">
                              <div class="card-body">                           
                                  <div class="d-flex align-items-center justify-content-between">
                                      <h5 style="font-size: 17px; font-weight: bold;align-items:center">{{ list.Name }}</h5>
                                      <div class="dropdown">
                                          <span class="dropdown-toggle py-2" id="dropdownMenuButton04" data-toggle="dropdown">
                                          <i class="ri-more-fill"></i>
                                          </span>
                                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton04">
                                           
                                            <button class="dropdown-item" type="button" (click)="exportList(list.Name,list.Id)"><i class="ri-arrow-left-up-line mr-2"></i>Export</button>
                                            <button class="dropdown-item" type="button"  (click)="exportListWithCards(list.Name,list.Tasks)" ><i class="ri-arrow-left-up-line mr-2"></i>Export ALL Cards</button>
                                            
                                              <a class="dropdown-item" href="#"><i class="ri-file-copy-2-line mr-2"></i>Duplicate</a>
                                              <button class="dropdown-item" type="button" (click)="addUserStrory(list.Id)"><i class="ri-edit-2-line mr-2"></i>Ajouter User Story</button>
                                              <button class="dropdown-item" type="button" (click)="deletList(list.Id,list.Tasks)" ><i class="ri-delete-bin-5-line mr-2"></i>Delete List</button> 
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-12" *ngFor="let talk of list.Tasks" cdkDrag [cdkDragData]="talk" >    
                          <div class="card" (click)="details(talk, list)" style="cursor: pointer;" >
                                
                              <div class="card-body"> 
                                <div class="dropdown1" style="position: absolute;
                                right: 0;top:0">
                                  <button class="btn dropdown-toggle py-2" type="button" id="dropdownMenuButton04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ri-more-fill"></i>
                                  </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton04">
                                      <button class="dropdown-item" type="button" (click)="editeTask(talk, list.Id)" *ngIf="talk.done__c === false"><i class="ri-edit-2-line mr-2"></i>Edit</button>
                                      <button class="dropdown-item" type="button" (click)="deletetask(talk.Id)" ><i class="ri-delete-bin-2-line mr-2"></i>Delete</button> 
                                      <button class="dropdown-item" type="button" (click)="exportCard(list.Name,talk.Name)"><i class="ri-arrow-left-up-line mr-2"></i>Export Task</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <svg *ngIf="talk.done__c === true" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;margin-top:15px;">

                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                        
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                        
                                        <g id="SVGRepo_iconCarrier"> <path d="M16.0303 10.0303C16.3232 9.73744 16.3232 9.26256 16.0303 8.96967C15.7374 8.67678 15.2626 8.67678 14.9697 8.96967L10.5 13.4393L9.03033 11.9697C8.73744 11.6768 8.26256 11.6768 7.96967 11.9697C7.67678 12.2626 7.67678 12.7374 7.96967 13.0303L9.96967 15.0303C10.2626 15.3232 10.7374 15.3232 11.0303 15.0303L16.0303 10.0303Z" fill="#50C6B4"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z" fill="#50C6B4"/> </g>
                                        
                                        </svg>
                                    <h5 class="mb-3" style="margin-left: 10px;font-size: 17px;margin-top:15px;" >{{ talk.Name }}</h5>
                                </div>
                               
                                  <p class="mb-3"><i class="las la-calendar-check mr-2"></i>{{talk.createdAt__c | date:'yyyy-MM-dd'}}</p>
                                  <div class="iq-progress-bar bg-secondary-light mb-4" *ngIf="talk.done__c === false">
                                      <span class="bg-secondary iq-progress progress-1" [style.background-color]="getColor(talk.priority__c)" [style.width]="getPourcentage(talk.priority__c)" style="transition: width 2s ease 0s;"></span>
                                  </div>
                                  <div class="d-flex align-items-center justify-content-between">
                                      <div class="iq-media-group" >
                                          <a href="#" class="iq-media" *ngFor="let users of talk.UserTasks__r?.records">
                                              <img src="{{users.User__r.SmallPhotoUrl}}" class="img-fluid avatar-40 rounded-circle" alt="">
                                          </a>
                                         
                                      </div>
                                      <div>
                                          <div class="btn bg-secondary-light" [style.background-color]="getColor(talk.priority__c)" *ngIf="talk.done__c === false" style="color: white;width:90px">{{talk.priority__c}}</div>
                                          <div class="btn bg-secondary-light" *ngIf="talk.done__c === true" style="background-color:#50C6B4;color: white;width:90px">Done</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                         
                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<style>
    .cdk-drop-list {
        opacity:0.3px;
      }
</style>
<!--===============grid==========================-->
<!--===============list==========================-->

<div id="list" class="item-content animate__animated animate__fadeIn" data-toggle-extra="tab-content" style="margin-top: 100px;">
    <h1 class="title align-items-center" style="margin-left:10px; margin-top:10px;font-weight:bold;color:black">Backlog</h1>
    <div class="table-responsive rounded bg-white mb-4" style="margin-top: 10px;">
        
        <table class="table mb-0 table-borderless tbl-server-info tble-min-width" >
            
            <tbody *ngFor="let list of LastList" >
                
                <tr *ngFor="let talk of list.Tasks">
                    <td style="font-size: 17px;">{{ talk.Name }}</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" [style.background-color]="getColor(talk.priority__c)" [style.width]="getPourcentage(talk.priority__c)" style="transition: width 2s ease 0s; width: 65%;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>{{talk.createdAt__c | date:'yyyy-MM-dd'}}</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media" *ngFor="let users of talk.UserTasks__r?.records">
                                <img class="img-fluid avatar-40 rounded-circle" src="{{users.User__r.SmallPhotoUrl}}" alt="">
                            </a>
                            
                        </div>
                        
                        
                    </td>
                    <td >
                       <div href="#" type="button" class="btn bg-secondary-light" [style.background-color]="getColor(talk.priority__c)" style="color: white;width:100px"  *ngIf="talk.done__c === false">{{talk.priority__c}}</div>
                       <div class="btn bg-secondary-light" *ngIf="talk.done__c === true" style="background-color:#50C6B4;color: white;width:100px">Done</div>
                    </td>
                   
                  
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--===============list==========================-->