@media (min-width: 1002px){

}
.col-lg-12 {
    flex: 0 0 100%;
    max-width: 200%;
}

.d-flex2{
  margin-top: 50px;
}
.priority{
  position: absolute;
  right: 0;
  margin-bottom: 2px;
  margin-right: 5px;
}




.custom-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.dragging {
  opacity: 0.8; /* Set the desired opacity value (0.0 to 1.0) */
  /* You can also add any additional styling to the dragging state here */
}