
<div class="confirmation-popup">
    <div class="modal-header">
      <h5 class="modal-title  fw-bold" style="font-weight: bold;font-size: 20px;" id="deleteprojectLabel"> Delete List</h5>
      <button type="button" class="btn-close" mat-button [mat-dialog-close]="false" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
      <h2 class="confirmation-title">Are you sure you want to delete this List: "{{Info[0].Name}}"?</h2>
    
      <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="false" class="cancel-button">Cancel</button>
        <button cdkFocusInitial mat-button [mat-dialog-close]="true" (click)="deleteo(Info[0].Id)" class="delete-button">Delete</button>
      </mat-dialog-actions>
      
    </div>