.confirmation-popup {
    padding: 20px;
  }
  
  .confirmation-title {
    margin-top: 10px;
    text-align: center;
  }
  
  .mat-dialog-actions {
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .cancel-button {
    color: #333;
    background-color: #ddd;
    width: 100px;
    margin-right: 15px;
  }
  
  .delete-button {
    color: #fff;
    background-color: #F7A95A;
    width: 100px;
  }