<div class="row2">
    <div class="row" style="margin-left: 5px;margin-right:5px">
        <div class="col-md-6 col-lg-3" >
                <div class="card card-block card-stretch card-height">
                    <div class="card-body" >
                        <div class="top-block d-flex align-items-center justify-content-between">
                            <h1>stalled task</h1>
                            <span class="badge badge-primary">Sprint</span>
                        </div>
                        <h1><span class="counter" style="visibility: visible;" >  {{ num }} </span></h1>
                        <div class="d-flex align-items-center justify-content-between mt-1">
                            <p class="mb-0"></p>
                            <span class="text-primary"></span>
                        </div>
                        <div class="iq-progress-bar bg-primary-light mt-2">
                            <span class="bg-primary iq-progress progress-1" data-percent="100" style="transition: width 2s ease 0s; width: 100%;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="top-block d-flex align-items-center justify-content-between">
                            <h1>Project timeline</h1>
                            <span class="badge badge-warning">Anual</span>
                        </div>
                        <h1><span class="counter" style="visibility: visible;">  
                            {{ delai.days }} Days
                            {{ delai.hours }} H
                            {{ delai.minutes }} Min 
                        </span>
                        </h1>
                        <div class="d-flex align-items-center justify-content-between mt-1">
                            <p class="mb-0"></p>
                            <span class="text-warning"></span>
                        </div>
                        <div class="iq-progress-bar bg-warning-light mt-2">
                            <span class="bg-warning iq-progress progress-1" data-percent="35" style="transition: width 2s ease 0s; width: 100%;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="top-block d-flex align-items-center justify-content-between">
                            <h1>Project delay</h1>
                            <span class="badge badge-success">Today</span>
                        </div>
                        <h1><span class="counter" style="visibility: visible;"><span id="timerDisplay">0 Days 0 h 0 min</span></span></h1>
                        <div class="d-flex align-items-center justify-content-between mt-1">
                            <p class="mb-0"></p>
                            <span class="text-success"></span>
                        </div>
                        <div class="iq-progress-bar bg-success-light mt-2">
                            <span class="bg-success iq-progress progress-1" data-percent="85" style="transition: width 2s ease 0s; width: 100%;"></span>
                        </div>
                    </div>
                </div>
            </div>
    

    
            <div class="col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="top-block d-flex align-items-center justify-content-between">
                            <h1>Members</h1>
                            <span class="badge badge-info">Number</span>
                        </div>
                        <h1><span class="counter" style="visibility: visible;">{{numuser}}</span></h1>
                        <div class="d-flex align-items-center justify-content-between mt-1">
                            <p class="mb-0"></p>
                            <span class="text-info"></span>
                        </div>
                        <div class="iq-progress-bar bg-info-light mt-2">
                            <span class="bg-info iq-progress progress-1" data-percent="55" style="transition: width 2s ease 0s; width: 100%;"></span>
                        </div>
                    </div>
                </div>
            </div>

    </div>
<div class="row" style="margin-left: 5px;">
    <div class="col-xl-8">
        <div class="card-transparent card-block card-stretch card-height">
            <div class="card-body p-0">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        
                        <div class="header-title">
                            <h4 class="card-title">Select A Project :</h4>
                        </div>
                        <select class="custom-select"  (change)="onProjectSelected($event)">
                            <option *ngFor="let project of accounts" [value]="project.Id">{{ project.Name }}</option>
                          </select>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline p-0 mb-0" *ngFor="let user of users">
                            <li class="mb-1">
                                <div class="d-flex align-items-center  row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">{{ user.name }}</p>
                                    </div>
                                    <div class="col-sm-6 ">
                                        
                                        <div class="iq-progress-bar bg-secondary-light mb-4  " style="margin-top:30px" >
                                            <span class="bg-secondary iq-progress progress-1"[style.width]="getProgressWidth(user)" style="transition: width 2s ease 0s;"></span>

                                        </div>                                           
                     
                                    </div>
                                    <p class="ml-3" style="margin-right: 10px; margin-top: 10px;">{{ pourcentage }} %</p>

                                </div>
                            </li>
                        </ul>



                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h1>Number of Tasks per list </h1>

                                <div class="row1">
                                    <div class="chart">
                                      
                                        <div class="chart1">
                                        <canvas #chartdogCanvas ></canvas>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h1>Number Of tasks per member </h1>
                                <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                                       
                                        <div class="chart2">
                                          <canvas #chartCanvas></canvas>
                                        </div>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <!--Events-->
    <div class="col-xl-4" >
        <div class="card card-block card-stretch card-height" style="margin-right: 15px;">
            <div class="card-body">
                <div class="card border-bottom pb-2 shadow-none">
                    <div class="card-body text-center inln-date flet-datepickr">
                        <input type="text" id="inline-date" class="date-input basicFlatpickr d-none flatpickr-input" readonly="readonly"><div class="flatpickr-calendar animate inline" tabindex="-1"><div class="flatpickr-months"><span class="flatpickr-prev-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z"></path></svg></span><div class="flatpickr-month"><div class="flatpickr-current-month"><select class="flatpickr-monthDropdown-months" aria-label="Month" tabindex="-1"><option class="flatpickr-monthDropdown-month" value="0" tabindex="-1">January</option><option class="flatpickr-monthDropdown-month" value="1" tabindex="-1">February</option><option class="flatpickr-monthDropdown-month" value="2" tabindex="-1">March</option><option class="flatpickr-monthDropdown-month" value="3" tabindex="-1">April</option><option class="flatpickr-monthDropdown-month" value="4" tabindex="-1">May</option><option class="flatpickr-monthDropdown-month" value="5" tabindex="-1">June</option><option class="flatpickr-monthDropdown-month" value="6" tabindex="-1">July</option><option class="flatpickr-monthDropdown-month" value="7" tabindex="-1">August</option><option class="flatpickr-monthDropdown-month" value="8" tabindex="-1">September</option><option class="flatpickr-monthDropdown-month" value="9" tabindex="-1">October</option><option class="flatpickr-monthDropdown-month" value="10" tabindex="-1">November</option><option class="flatpickr-monthDropdown-month" value="11" tabindex="-1">December</option></select><div class="numInputWrapper"><input class="numInput cur-year" type="number" tabindex="-1" aria-label="Year"><span class="arrowUp"></span><span class="arrowDown"></span></div></div></div><span class="flatpickr-next-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z"></path></svg></span></div><div class="flatpickr-innerContainer"><div class="flatpickr-rContainer"><div class="flatpickr-weekdays"><div class="flatpickr-weekdaycontainer">
                            <span class="flatpickr-weekday">
                            Sun</span><span class="flatpickr-weekday">Mon</span><span class="flatpickr-weekday">Tue</span><span class="flatpickr-weekday">Wed</span><span class="flatpickr-weekday">Thu</span><span class="flatpickr-weekday">Fri</span><span class="flatpickr-weekday">Sat
                            </span>
                            </div></div><div class="flatpickr-days" tabindex="-1"><div class="dayContainer"><span class="flatpickr-day prevMonthDay" aria-label="June 25, 2023" tabindex="-1">25</span><span class="flatpickr-day prevMonthDay" aria-label="June 26, 2023" tabindex="-1">26</span><span class="flatpickr-day prevMonthDay" aria-label="June 27, 2023" tabindex="-1">27</span><span class="flatpickr-day prevMonthDay" aria-label="June 28, 2023" tabindex="-1">28</span><span class="flatpickr-day prevMonthDay" aria-label="June 29, 2023" tabindex="-1">29</span><span class="flatpickr-day prevMonthDay" aria-label="June 30, 2023" tabindex="-1">30</span><span class="flatpickr-day " aria-label="July 1, 2023" tabindex="-1">1</span><span class="flatpickr-day " aria-label="July 2, 2023" tabindex="-1">2</span><span class="flatpickr-day " aria-label="July 3, 2023" tabindex="-1">3</span><span class="flatpickr-day " aria-label="July 4, 2023" tabindex="-1">4</span><span class="flatpickr-day " aria-label="July 5, 2023" tabindex="-1">5</span><span class="flatpickr-day " aria-label="July 6, 2023" tabindex="-1">6</span><span class="flatpickr-day " aria-label="July 7, 2023" tabindex="-1">7</span><span class="flatpickr-day " aria-label="July 8, 2023" tabindex="-1">8</span><span class="flatpickr-day " aria-label="July 9, 2023" tabindex="-1">9</span><span class="flatpickr-day " aria-label="July 10, 2023" tabindex="-1">10</span><span class="flatpickr-day " aria-label="July 11, 2023" tabindex="-1">11</span><span class="flatpickr-day " aria-label="July 12, 2023" tabindex="-1">12</span><span class="flatpickr-day " aria-label="July 13, 2023" tabindex="-1">13</span><span class="flatpickr-day " aria-label="July 14, 2023" tabindex="-1">14</span><span class="flatpickr-day " aria-label="July 15, 2023" tabindex="-1">15</span><span class="flatpickr-day " aria-label="July 16, 2023" tabindex="-1">16</span><span class="flatpickr-day " aria-label="July 17, 2023" tabindex="-1">17</span><span class="flatpickr-day " aria-label="July 18, 2023" tabindex="-1">18</span><span class="flatpickr-day " aria-label="July 19, 2023" tabindex="-1">19</span><span class="flatpickr-day today" aria-label="July 20, 2023" aria-current="date" tabindex="-1">20</span><span class="flatpickr-day " aria-label="July 21, 2023" tabindex="-1">21</span><span class="flatpickr-day " aria-label="July 22, 2023" tabindex="-1">22</span><span class="flatpickr-day " aria-label="July 23, 2023" tabindex="-1">23</span><span class="flatpickr-day " aria-label="July 24, 2023" tabindex="-1">24</span><span class="flatpickr-day " aria-label="July 25, 2023" tabindex="-1">25</span><span class="flatpickr-day " aria-label="July 26, 2023" tabindex="-1">26</span><span class="flatpickr-day " aria-label="July 27, 2023" tabindex="-1">27</span><span class="flatpickr-day " aria-label="July 28, 2023" tabindex="-1">28</span><span class="flatpickr-day " aria-label="July 29, 2023" tabindex="-1">29</span><span class="flatpickr-day " aria-label="July 30, 2023" tabindex="-1">30</span><span class="flatpickr-day " aria-label="July 31, 2023" tabindex="-1">31</span><span class="flatpickr-day nextMonthDay" aria-label="August 1, 2023" tabindex="-1">1</span><span class="flatpickr-day nextMonthDay" aria-label="August 2, 2023" tabindex="-1">2</span><span class="flatpickr-day nextMonthDay" aria-label="August 3, 2023" tabindex="-1">3</span><span class="flatpickr-day nextMonthDay" aria-label="August 4, 2023" tabindex="-1">4</span><span class="flatpickr-day nextMonthDay" aria-label="August 5, 2023" tabindex="-1">5</span></div></div></div></div></div>
                        </div>

                    </div>
                <div class="card card-list" *ngFor="let event of event" >

                    
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div *ngIf="event.Subject === 'Email'">
                                <svg class="svg-icon text-warning mr-3" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline>
                                </svg>
                            </div>
                            <div *ngIf="event.Subject === 'Call'">
                                <svg class="svg-icon text-success mr-3" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                                </svg>
                            </div>
                            <div *ngIf="event.Subject === 'Meeting'">
                                <svg width="24" height="24" class="mr-3" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                viewBox="0 0 512 512" xml:space="preserve">
                           <path style="fill:#FF3F62;" d="M492.569,251.221h-2.359h-20.207H352.892h-0.149h-20.057h-19.888H256h-56.798h-19.888h-20.057h-0.149
                               H41.997H21.79h-2.359C8.7,251.221,0,259.921,0,270.652v103.632c0,10.731,8.7,19.431,19.431,19.431h61.691h38.862H256h136.017h38.862
                               h61.691c10.731,0,19.431-8.7,19.431-19.431V270.652C512,259.921,503.3,251.221,492.569,251.221z"/>
                           <g>
                               <path style="fill:#830018;" d="M81.122,477.916c0,10.731,8.7,19.431,19.431,19.431s19.431-8.7,19.431-19.431v-84.201H81.122
                                   V477.916z"/>
                               <path style="fill:#830018;" d="M392.017,477.916c0,10.731,8.7,19.431,19.431,19.431c10.731,0,19.431-8.7,19.431-19.431v-84.201
                                   h-38.862V477.916z"/>
                           </g>
                           <path style="fill:#D8143A;" d="M199.202,251.221h-19.887h-20.057h-0.149H41.997H21.79h-2.359C8.7,251.221,0,259.921,0,270.652
                               v103.632c0,10.731,8.7,19.431,19.431,19.431h61.691h38.862H256V251.221L199.202,251.221L199.202,251.221z"/>
                           <path style="fill:#EFC27B;" d="M100.553,14.654c-32.143,0-58.293,26.15-58.293,58.293s26.15,58.293,58.293,58.293
                               s58.293-26.15,58.293-58.293S132.696,14.654,100.553,14.654z"/>
                           <path style="fill:#5286FA;" d="M198.35,247.353c-1.953-8.205-4.911-16.021-8.744-23.315c-3.206-6.099-7.002-11.839-11.342-17.121
                               c-18.457-22.462-46.437-36.816-77.711-36.816C45.107,170.101,0,215.208,0,270.652c0-10.731,8.7-19.431,19.431-19.431h2.359h20.207
                               h58.556h58.556h0.149h20.057h19.888C198.947,249.922,198.655,248.636,198.35,247.353z"/>
                           <path style="fill:#ECB45C;" d="M42.26,72.946c0,32.143,26.15,58.293,58.293,58.293V14.654C68.41,14.654,42.26,40.804,42.26,72.946z"
                               />
                           <path style="fill:#3D6DEB;" d="M0,270.652c0-10.731,8.7-19.431,19.431-19.431h2.359h20.207h58.556v-81.12
                               C45.107,170.101,0,215.208,0,270.652z"/>
                           <path style="fill:#EFC27B;" d="M411.447,14.654c-32.143,0-58.293,26.15-58.293,58.293s26.15,58.293,58.293,58.293
                               s58.293-26.15,58.293-58.293S443.591,14.654,411.447,14.654z"/>
                           <path style="fill:#5286FA;" d="M411.447,170.101c-31.275,0-59.255,14.356-77.711,36.818c-4.342,5.283-8.136,11.023-11.342,17.121
                               c-3.833,7.293-6.79,15.109-8.745,23.315c-0.304,1.281-0.596,2.566-0.851,3.867h19.888h20.057h0.149h58.556h58.556h20.207h2.359
                               c10.731,0,19.431,8.7,19.431,19.431C512,215.208,466.893,170.101,411.447,170.101z"/>
                           <path style="fill:#ECB45C;" d="M353.155,72.946c0,32.143,26.15,58.293,58.293,58.293V14.654
                               C379.305,14.654,353.155,40.804,353.155,72.946z"/>
                           <path style="fill:#3D6DEB;" d="M333.737,206.919c-4.342,5.283-8.136,11.023-11.342,17.121c-3.833,7.293-6.79,15.109-8.745,23.315
                               c-0.304,1.281-0.596,2.566-0.851,3.867h19.888h20.057h0.149h58.556v-81.12C380.173,170.101,352.192,184.457,333.737,206.919z"/>
                           <path style="fill:#EFC27B;" d="M256,14.654c-32.143,0-58.293,26.15-58.293,58.293s26.15,58.293,58.293,58.293
                               s58.293-26.15,58.293-58.293S288.144,14.654,256,14.654z"/>
                           <path style="fill:#00E7F0;" d="M316.59,190.401c-17.567-13.28-38.517-20.3-60.59-20.3h-0.001c-22.07,0-43.023,7.02-60.588,20.299
                               c-6.357,4.805-12.115,10.371-17.146,16.518c4.341,5.283,8.136,11.023,11.342,17.121c3.833,7.293,6.79,15.109,8.744,23.315
                               c0.306,1.281,0.597,2.567,0.852,3.868h56.798h56.798c0.255-1.299,0.547-2.586,0.851-3.867c1.955-8.205,4.912-16.021,8.745-23.315
                               c3.206-6.099,7-11.84,11.342-17.121C328.703,200.772,322.947,195.207,316.59,190.401z"/>
                           <path style="fill:#00D7DF;" d="M255.999,170.101c-22.07,0-43.023,7.02-60.588,20.299c-6.357,4.805-12.115,10.371-17.146,16.518
                               c4.341,5.283,8.136,11.023,11.342,17.121c3.833,7.293,6.79,15.109,8.744,23.315c0.306,1.281,0.597,2.567,0.852,3.868h56.798
                               L255.999,170.101L255.999,170.101z"/>
                           <path style="fill:#ECB45C;" d="M197.707,72.946c0,32.143,26.15,58.293,58.293,58.293V14.654
                               C223.857,14.654,197.707,40.804,197.707,72.946z"/>
                           </svg>
                            </div>
                            <div class="pl-3 border-left">
                                <h5 class="mb-1"> {{event.Subject}} </h5>
                                <p class="mb-0">{{event.Description}}</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>








