.progre{
  display:flex;
  flex-direction: row;
}
.name{
  font-size: 20px;
  font-weight: bolder;
  font-family: cursive;
  
}
.statistics-container {
    display: flex;
  }
  .charts-container {
    display: flex;
    flex-direction: column;
  }
  
  .chart-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-top: 0px;
    height: 500px;
    width: 700px;
    align-items: center;
  }
  
  .chart-title {
    font-family: "Manrope", sans-serif;
    margin-bottom: 16px;
    font-size: 20px;
    color: black;
  }
  .span {
    margin-right: 11px;
    margin-left: 11px;
    margin-bottom: 11px;

  }
  .chart1{
    height: 400px;
    width: 500px;
    margin-left: 130px;
    margin-top: 80px;
  }
  .chart2{
    height: 350px;
    width: 450px;
    margin-left: 100px;
    margin-top: 50px;
  }
  .chart {
    height: 390px;
    width: 450px;
  }
  
  .team-info {
    text-align: left;
    padding: 1px;
    margin-bottom: 15px;
  }
  .team-info h1 {
    color: black;
    margin-top: 10px;
    margin-left: 20px;
    font-family: "Manrope", sans-serif;
  }
  .team-name {
    margin: 0px;
  }

  .statistic-card {
    display: flex;
    align-items: center;
    width: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
  }
  .h1{
    text-align: center;
  }

  .statistic-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



  .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
  }

  .circle-blue {
    background-color: #007bff;
  }

  .circle-green {
    background-color: #28a745;
  }

  .circle-orange {
    background-color: #fd7e14;
  }

  .icon-circle i {
    color: #fff;
    font-size: 20px;
  }

  .content {
    text-align: center;
  }

  .title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .number {
    font-size: 24px;
    font-weight: bold;
  }
  .big-container{
    display: flex;
    flex-direction: row;
  }

  .row1{
    height: 510px;
  }

  .chart{
    flex-direction: column;
  align-items: center;
  }