<div class ="global">
<h1 class="project-name">Project : {{ Name }}</h1>
<div class="chart-card" >
    <h2 >Project details :</h2>
    <div class="project-details">
      <p><strong>Team :</strong>  {{ Team }} </p>
        <p><strong>Start Date :</strong> {{ StartDate }}</p>
        <p><strong>End Date :</strong> {{ EndDate }}</p>



    </div>
    
  </div>
  <div class="charts-container">
    
    <div class="chart-card">
      <h2>Task distribution </h2>
      <div class="chart-container">
        <canvas #chartdogCanvas></canvas>
      </div>
      
    </div>
  </div>
</div>