/* Styles for Project Name */


.project-name {

    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-family: Manrope, sans-serif;

  }
  
  /* Styles for Project Info */
  .project-info {
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
  }
  
  .project-info h2 {
    font-family: Manrope, sans-serif;

    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 8px;
  }
  
  .project-details p {
    font-family: Manrope, sans-serif;

    font-size: 14px;
    color: #666666;
    margin-bottom: 4px;
    padding-left: 10px;
  }
  
  .date p {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Styles for Charts Container */
  .charts-container {
    
    height: calc(100% - 150px); /* Adjust as needed */
  }
  
  /* Styles for Chart Card */
  .chart-card {
    font-family: Manrope, sans-serif;

    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    align-items: center;
  }
  
  .chart-card h2 {
    font-family: Manrope, sans-serif;

    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 8px;
  }
  
  .chart-container {
    height: 100%;
  }
  