

 
<div class="modal-content">
  <div class="modal-header d-block text-center pb-3 border-bttom">
      <h3 class="modal-title" style="font-size: 20px;font-weight: bold;" id="exampleModalCenterTitle">Add member to <span style=" color:#F7A95A;">{{Team.Name}}</span> Team</h3>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
      <div class="row2">
        
          <div class="col-lg-12">
            <div class="form-group mb-3">
                <label for="exampleInputText2" class="h5">Select user</label>
                <div class="dropdown bootstrap-select form-control">
                  <mat-select formControlName="User__c"   class="selectpicker form-control" data-style="py-0">
                    <mat-option *ngFor="let user of Urs" [value]="user.id">{{ user.name }}</mat-option>
                  </mat-select>
</div>
            </div>
            <div class="form-group mb-3">
              <label for="exampleInputText01" class="h5">Description</label>
              <textarea matInput formControlName="Description__c" class="form-control" id="exampleInputText01" rows="2"></textarea>
              
              
          </div> <div class="form-group mb-3">
            <label for="exampleInputText01" class="h5">Role</label>
            <textarea matInput formControlName="Role__c" class="form-control" id="exampleInputText01" rows="2"></textarea>
            
            
        </div>
        </div>
         
          
          <div class="col-lg-12" style="margin-top: 15px;">
            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                
                <button type="submit" [disabled]="myForm.invalid" data-dismiss="modal" class="btn btn-primary">Submit</button>   
                 <button [mat-dialog-close]="false" class="btn btn-secondary" style=" margin-left: 20px;" data-dismiss="modal">Cancel</button>
             
                </div>
        </div>
      </div>
  </div>
</form>
</div>



