.team-info {
    background-color: #f0f0f0;
    padding: 16px;
    margin-bottom: 24px;
  }
  
  .team-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  .team-name-highlight {
    color: #673ab7; /* Set your desired highlight color */
  }
  
  .dialog-form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
   
    border-radius: 4px;
  }
  
  .mat-form-field {
    margin-bottom: 16px;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  .btn-primary:hover,
  .btn-secondary:hover {
    opacity: 0.8;
  }
  