

 
  <div class="modal-content">
    <div class="modal-header d-block text-center pb-3 border-bttom">
        <h3 class="modal-title" style="font-size: 20px;font-weight: bold;" id="exampleModalCenterTitle">Create User Story</h3>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="row2">
            <div class="col-lg-12">
                <div class="form-group mb-3">
                    <label for="exampleInputText02" class="h5">Task Name</label>
                    <input matInput placeholder="Name" type="text" class="form-control" id="exampleInputText02" required formControlName="Name" >
                 
                    
                </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group mb-3">
                  <label for="exampleInputText2" class="h5">Assigned to</label>
                  <div class="dropdown bootstrap-select form-control">
                    <mat-select formControlName="users" multiple name="type" class="selectpicker form-control" data-style="py-0">
                      <mat-option *ngFor="let user of Urs" [value]="user.User__c">{{ user.User__r.Name }}</mat-option>
                    </mat-select>
                    <div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-7" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
              </div>
          </div>
            <div class="row" style="margin-left: 2px;">

              <div class="col-lg-6">
                <div class="form-group mb-3">
                    <label for="exampleInputText05" class="h5">Priority*</label>
                    <div class="dropdown bootstrap-select form-control">
                      <mat-select matInput formControlName="priority__c" name="type" placeholder="Priority" class="selectpicker form-control" data-style="py-0">
                        
                        <mat-option *ngFor="let priority of PriorityArray" [value]="priority.name">
                          <span class="arrow-down" [style.color]="priority.color" style="font-weight: bold;font-size: 20px;" *ngIf="priority.name === 'Low' || priority.name === 'Lowest' || priority.name === 'Medium'">&#8595;</span>
                          <span class="arrow-down" [style.color]="priority.color"  style="font-weight: bold;font-size: 20px;"  *ngIf="priority.name === 'High' || priority.name === 'Highest' ">&#8593;</span>
                          {{ priority.name }}
                          
                        </mat-option></mat-select>
                    
                      <div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-7" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                    
                </div>                        
            </div>
            <div class="col-lg-6">
                <div class="form-group mb-3">
                    <label for="exampleInputText2" class="h5">Type</label>
                    <div class="dropdown bootstrap-select form-control">
                      <mat-select name="type" class="selectpicker form-control" placeholder="Type" data-style="py-0" formControlName="issueType__c" >
                        <mat-option  *ngFor="let i of issueTypesArrayWithColor" [value]="i.name">
                          {{ i.name }}
                        </mat-option>
                      </mat-select>
                     <div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-8" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                </div>
            </div>
            </div>
            
            <div class="col-lg-12">
                <div class="form-group mb-3">
                    <label for="exampleInputText040" class="h5">Description</label>
                    <textarea matInput required formControlName="text__c" class="form-control" id="exampleInputText040" rows="2"></textarea>
                    
                    
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="form-group mb-0">
                    <label for="exampleInputText01" class="h5">Attachments</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile003">
                        <label class="custom-file-label" for="inputGroupFile003">Upload media</label>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12" style="margin-top: 15px;">
              <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                  
                  <button type="submit" [disabled]="formGroup.invalid" data-dismiss="modal" class="btn btn-primary">Submit</button>   
                   <button [mat-dialog-close]="false" class="btn btn-secondary" style=" margin-left: 20px;" data-dismiss="modal">Cancel</button>
              </div>
          </div>
        </div>
    </div>
  </form>
</div>


