/* Optional: Reset default margin and padding for form elements */
.form-group {
    margin-bottom: 20px;
  }
  
  /* Style for the label */
  .form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* Style for the input elements */
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input:focus {
    border-color: #ffcc14; /* Change this color to represent focus state */
    outline: none; /* Optional: Remove the default focus outline */
    box-shadow: 0 0 5px rgba(255, 221, 0, 0.5); /* Optional: Add a subtle shadow on focus */
  }


  /* Optional: Reset default margin and padding for form elements */
.form-group {
    margin-bottom: 20px;
  }
  
  /* Style for the label */
  .form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 10px;
  }
  
  /* Style for the select element */
  .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    width: 350px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Add a white background */
    transition: border-color 0.3s ease;
  }
  
  /* Style for the options */
  .form-group select option {
    padding: 5px;
  }
  
  /* Style for the select on focus */
  .form-group select:focus {
    border-color: #55c93f; /* Change this color to represent focus state */
    outline: none; /* Optional: Remove the default focus outline */
    box-shadow: 0 0 5px rgba(85, 201, 63, 0.5); /* Optional: Add a subtle shadow on focus */
  }
  
  /* Optional: Adjust the appearance of the form in the col-lg-6 */
  .col-lg-6 {
    padding: 10px;
  }
  /* Style for the options */
.form-control option {
    padding: 5px;
  }
  .form-control option:checked {
    background-color: #55c93f; /* Change this color to represent the selected option background */
    color: #fff; /* Change this color to represent the selected option text color */
  }