<div class="modal fade bd-example-modal-lg show" role="dialog" aria-modal="true" id="new-create-modal" style="padding-right: 3.98843px; display: block;">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-block text-center pb-3 border-bttom">
                <h3 class="modal-title" id="exampleModalCenterTitle01"  style="font-size: 20px;font-weight: bold;">New Event</h3>
            </div>
            
            <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="row2">
                        <div class="row">
                            <div class="col-lg-6" style="width:100px;margin-left: 10px;">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText2" class="h5">Project Name</label>
                                        <select class="form-control"  (change)="onProjectSelected($event)"  formControlName="WhatId">
                                            <option class="option" *ngFor="let project of listProject" [value]="project.Id">{{ project.Name }}</option>
                                        </select>
                                </div>
                            </div>
                                   
                            
                            <div class="col-lg-6" style="width:100px;margin-right: 30px;">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText2" class="h5">Assigned to</label>
                                    <select class="form-control" formControlName="OwnerId">
                                        <option *ngFor="let us of listUsers" [value]="us.User__c">{{ us.Name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText40" class="h5">Description</label>
                                <textarea formControlName="Description" class="form-control" id="exampleInputText40" rows="2" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText8" class="h5">Subject</label>
                                <select id="subject" formControlName="Subject" required>
                                    <option *ngFor="let value of picklistValues" [value]="value">{{ value }}</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="eventDate">Event Date:</label>
                                <input type="date" id="eventDate" formControlName="eventDate" required>
                            </div>
                            <div class="row">
                                <div class="form-group" style="width: 370px;margin-left:13px">
                                <label for="startTime">Start Time:</label>
                                <input type="time" id="startTime" formControlName="startTime" required>
                                </div>
                                <div class="form-group" style="width: 370px;margin-left:30px;margin-right:10px">
                                    <label for="endTime">End Time:</label>
                                    <input type="time" id="endTime" formControlName="endTime" required>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-12" style="margin-top: 15px;">
                            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                
                                <button type="submit" class="btn btn-primary">AddEvent</button>   
                                 <button [mat-dialog-close]="false" class="btn btn-secondary" style=" margin-left: 20px;" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>