<div class="col-lg-12">
<div class="create-project-wrapper">
  <button class="create-project-butto" type="submit" (click)="openPopup()">New Event</button>
</div></div>
<div class="calendar-container" style="margin-top: 50px; width:1200px; height:2500px; margin-left:100px">

   
    <full-calendar [options]="calendarOptions" ></full-calendar>
  </div>
  