.team-info {
    text-align: center;
    background-color: #f0f0f0;
    padding: 16px;
    margin-bottom: 24px;
  }
  
  .team-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  .create-project-butto {
    background-color: #353444;
    color: #fff;
    border: none;
    padding: 9px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}