.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .title-wrapper {
    display: flex;
    text-align: center;
    padding: 5px;
    margin-bottom: 24px;
    align-items:flex-end;
    margin-bottom: 10px;
    justify-content: flex-end;
  
  }
  .create-project-button {
    background-color: #5773FF;
    color: #fff;
    border: none;
    padding: 9px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .Name{
    margin-left: 350px;
  }
   .Name h1{
    margin: 20px;
    text-align: center;
    font-family: Roboto, sans-serif;;
    font-size: 30px;
    color: #ffce52ac;
   }
   .teams{
    display: flex;
    flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: center;
   margin-bottom: 20px;
  
   }
   .flexdiv{
      display: flex;
      text-align: center;
      padding: 5px;
      margin-bottom: 24px;
      margin-bottom: 10px;
      
    
    }
   .members{
    display: flex;
   
margin-top:50px;
  
  
   }
  .member{ 
     border-radius: 9px;
    border: 1px solid #989798;
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: 200px;

    background-color: #fff;
    box-shadow:1px 1px 5px #989798;
  
  
  }
  .members p {
    color: rgb(56, 56, 56);
    font-weight: bold;
    font-size: medium;
    margin-left: 30px;
  }
   .members a {
    margin: 7px;
    
  
  }
  .members a img {
    border: 2px solid #bcbcbc;
    margin-left: 45px;
  }
  
  .description{
    font-size: 10px;
  
  }
  .delete{
    margin-bottom: 0%;
  }
  .delete mat-icon{
  margin-right: 0%;
  margin-bottom: 0%;
  }
  @media (min-width: 1002px){
  
  }
  .col-lg-12 {
      flex: 0 0 100%;
      max-width: 200%;
  }
  
  .d-flex2{
    margin-top: 50px;
  }
  .priority{
    position: absolute;
    right: 0;
    margin-bottom: 2px;
    margin-right: 5px;
  }
  
  
  
  
  .custom-button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }