<div class="card" style="background-color:#F8F7F7;">
    <div class="card-header d-flex justify-content-between">
        
       <div class="header-title align-items-center">
          <h4 class="card-title" style="font-weight: bold;">{{task.Name}}</h4>
       </div>
    </div>
    <div class="card-body" style="height: 450px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Membre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Info</a>
            </li>
        </ul>
        
       
        


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">

                <div class="members" >
                    <div class=" member" *ngFor="let Team of task.UserTasks__r.records">
                    
                      <a href="#" class="iq-media" [title]="Team.User__r.Name">
                         <img class="img-fluid avatar-70 rounded-circle" [src]="Team.User__r.SmallPhotoUrl"  alt="">
                     </a>  
                     
                     <p>{{ Team.User__r.Name }}</p>
                     
                    
                </div>
                </div>


                
            </div>


            <div class="tab-pane fade" id="tab3" role="tabpane1" aria-labelledby="tab3-tab">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <p style="font-weight: bold;color: rgb(66, 66, 66);font-size:medium;margin-left :10px;">Description : </p>
                      
                        <div class="card" >
                            <div class="card-body" style="margin-bottom:30px">
                            <p>{{task.text__c}} </p>
                        </div>
                        </div>
                        <p style="font-weight: bold;color:  rgb(66, 66, 66);font-size:medium;margin-left :10px;">Details : </p>
                         <div class="card">
                          <div class="card-body">
                            <div class="table-responsive rounded bg-white">                        
                               <table class="table mb-0 table-borderless tbl-server-info">
                                  <tbody>
                                    
                                     <tr>
                                        <td scope="row">Type:</td>
                                        <td>{{task.issueType__c}}</td>
                                     </tr>
                                     <tr>
                                        <td scope="row">Priority: </td>
                                        <td> {{task.priority__c}} </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                       </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
