
<!--============================-->
<div class="container rounded bg-white " style="width: 70%;" >
    <div class="row" >
        <div class="col-md-3 border-right ">
            <div class="d-flex flex-column align-items-center text-center  py-5 "><img class="rounded-circle mt-5" width="110px" height="108px" src="{{picture}}"><span class="font-weight-bold" style=" margin-top:20px">{{given_name}} {{Name}}</span></div>
             <p  class="description" style="font-size: 13px; font-color:rgb(75, 75, 75);text-align: center; ">As a skilled and experienced Salesforce consultant, I excel in the art of seamlessly implementing, configuring, and optimizing the Salesforce platform to drive transformative outcomes for businesses. Drawing upon my extensive knowledge of Salesforce's rich capabilities and advanced features, I engage closely with clients, immersing myself in their unique business processes and objectives.  </p>
          </div>
        <div class="col-md-5 ">
            <div class="p-3">
                <div class="d-flex justify-content-between align-items-center mb-3 border-bottom" >
                    <h4 class="text-right" style="font-weight: bold;font-size:16px">Profile Settings</h4>
                </div>
                <div class="row2">
                    <div class="row2 mt-3">
                        <div class="row mt-3" style="margin-left: 1px;" >
                            <div class="col-md-6" style="margin-top: 10px;"><label class="labels" style="font-size: small;">First Name</label><input type="text" class="form-control" placeholder="{{given_name}}" value=""></div>
                            <div class="col-md-6"style="margin-top: 10px;"><label class="labels" style="font-size: small;">Last Name</label><input type="text" class="form-control" placeholder="{{Name}}" value=""></div>
                        </div>  
                        <div class="col-md-12"style="margin-top: 10px;"><label class="labels" style="font-size: small;">Email</label><input type="text" class="form-control" placeholder="{{email}}" value=""></div>
                        <div class="col-md-12" style="margin-top: 10px;"><label class="labels" style="font-size: small;">Address</label><input type="text" class="form-control" placeholder="{{street_address}}" value=""></div>
                        <div class="col-md-12" style="margin-top: 10px;"><label class="labels" style="font-size: small;">City</label><input type="text" class="form-control" placeholder="{{locality}}" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels" style="font-size: small;">Country</label><input type="text" class="form-control" placeholder="{{country}}" value=""></div>
                        <div class="col-md-6"><label class="labels" style="font-size: small;">Postcode</label><input type="text" class="form-control" value="" placeholder="{{postal_code}}"></div>
                    </div>
                </div>
                
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" style="background: #f7c14e">Edit Profile</button></div>
            </div>
        </div>
       
    </div>
 </div>
 
 
 
 
 